[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
opencv-python = "*"
pysimplegui = "*"
pyautogui = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"

[scripts]
view = "python coordiffshot.py"
